@font-face {
	font-family: 'Flexo-Demi';
	src: url('../src/OnlineWebFonts_COM_bace8870e9d92d7c20d03985c30ccde3/Flexo-Demi/Flexo-Demi.woff2') format('woff2'),
	     url('../src/OnlineWebFonts_COM_bace8870e9d92d7c20d03985c30ccde3/Flexo-Demi/Flexo-Demi.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    
    }
